{% include 'shared/header.html' %}

    <div class="content-wrapper oh">

      <!-- Page Title -->
      <section class="page-title bottom-divider text-center">
        <div class="container">

          <div class="page-title__outer">
            <div class="page-title__inner">
              <div class="page-title__holder">
                <h1 class="page-title__title">Norman Core Features</h1>
                <p class="page-title__subtitle lead">Here are the best features that makes Norman the most powerful, fast  and user-friendly medical platform.</p>
              </div>
            </div>
          </div>

        </div>
      </section> <!-- end page title -->

      <!-- Features -->
      <section class="section-wrap pt-70 pb-130 bg-light">
        <div class="container">
          <div class="row row-60 items-grid">
                 {% for feature, description in config.NORMAN_FEATURES_LEFT.items() %}
                    <div class="info-block-two wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                         <div class="col-md-4 col-xs-6 col-xxs-12">
              <a href="#" class="box-shadow">
                <div class="feature-1__icon-holder feature-1__icon-holder--blue text-center">
                  <i class="ui-{{ description.icon }} feature-1__icon"></i>
                </div>
                <div class="feature-1__base">
                  <h3 class="feature-1__title">{{ feature }}</h3>
                  <p class="feature-1__paragraph">{{ description.description }}</p>
                </div>
              </a>
            </div>
                        </div>
                    </div>
                    {% endfor %}
              {% for feature, description in config.NORMAN_FEATURES_RIGHT.items() %}
                    <div class="info-block-two wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                         <div class="col-md-4 col-xs-6 col-xxs-12">
              <a href="#" class="box-shadow">
                <div class="feature-1__icon-holder feature-1__icon-holder--blue text-center">
                  <i class="ui-{{ description.icon }} feature-1__icon"></i>
                </div>
                <div class="feature-1__base">
                  <h3 class="feature-1__title">{{ feature }}</h3>
                  <p class="feature-1__paragraph">{{ description.description }}</p>
                </div>
              </a>
            </div>
                        </div>
                    </div>
                    {% endfor %}
          </div>
        </div>
      </section> <!-- end features-section -->

{% include 'shared/newsletter.html' %}

{% include 'shared/footer.html' %}
