{% extends "shared/authLayout.html" %}

{% block content %}

    <body>
        <div class="wrapper-page">
            <div class="text-center">
                <img class="logo logo--dark" src="{{ url_for('static', filename='auth/images/logo.png') }}"  style="height: 100px;" alt="logo">
            </div>
            <div class="text-center">
                <h4>What would you like to register for?</h4>
            </div>
        	<div class="row" style="padding-top: 20px; padding-left:20px;">
                    <div class="col-lg-6 col-md-6 animated flipInX">
                        <div class="card-box widget-user">
                            <div class="text-center">
                                <h2 class="text-custom" data-plugin="counterup"><a href="{{ url_for('register.preRegistration') }}?option=plan">Plan</a></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 animated flipInX">
                        <div class="card-box widget-user">
                            <div class="text-center">
                                <h2 class="text-pink" data-plugin="counterup"><a class="text-pink" href="{{ url_for('register.preRegistration') }}?option=product">Product</a></h2>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="text-center">
                <h6>Don't know which to choose? Hover <span class="text-info planOrProductToolTip" title="Plans are a combination of products while a product is a single Norman service.">here</span> for more information</h6>
            </div>

        </div>
{% endblock %}
