<section class="section-wrap newsletter bg-img bg-overlay white-text relative" style="background-image: url({{ url_for('static', filename='img/newsletter/newsletter_bg.jpg') }});">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <h2 class="newsletter__title">Want to get for updates?</h2>
              <p class="newsletter__subtitle">Subscribe now to get update</p>
              <form class="newsletter__form relative">
                <input type="email" class="newsletter__input" placeholder="Your email"><input type="submit" class="btn btn--secondary-color btn--button newsletter__submit" value="Subscribe">

              </form>
            </div>
          </div>
        </div>
      </section> <!-- end Newsletter -->

